# قاعدة البيانات
MYSQL_HOST=mysql1002.site4now.net
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
DB_CONNECTION_LIMIT=5

JWT_SECRET=change-this-to-match-rkiza_pro
NODE_ENV=production

# منصات الواجهة المسموح لها بالاتصال
CORS_ORIGIN=http://localhost:3000,https://rkiza-pro.vercel.app
